@font-face {
    font-family: 'iconfont';  /* project id 1000661 */
    src: url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.eot');
    src: url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.woff') format('woff'),
    url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1000661_z4kjl43gyhk.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/** 卡片轮播图样式 */
.admin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right;
}

.admin-carousel .layui-carousel-ind ul {
    background: 0 0;
}

.admin-carousel .layui-carousel-ind li {
    background-color: #e2e2e2;
}

.admin-carousel .layui-carousel-ind li.layui-this {
    background-color: #999;
}

/** 广告位轮播图 */
.admin-news .layui-carousel-ind {
    height: 45px;
}

.admin-news a {
    display: block;
    line-height: 60px;
    text-align: center;
}

.layadmin-takerates {
    padding-top: 5px
}

.layadmin-takerates .layui-progress {
    margin: 50px 0 60px
}

.layadmin-takerates .layui-progress:last-child {
    margin-bottom: 10px
}

.layadmin-takerates .layui-progress h3 {
    position: absolute;
    right: 0;
    top: -35px;
    color: #999;
    font-size: 14px
}

.layadmin-takerates .layui-progress-bar {
    text-align: left
}

.layadmin-takerates .layui-progress-text {
    top: -35px;
    line-height: 26px;
    font-size: 26px
}

.layadmin-news {
    height: 60px !important;
    padding: 5px 0
}

.layadmin-news a {
    display: block;
    line-height: 60px;
    text-align: center
}

.layadmin-news .layui-carousel-ind {
    height: 45px
}

.layadmin-backlog .layadmin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.layadmin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.layadmin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.layadmin-backlog-body:hover {
    background-color: #f2f2f2;
    color: #888
}

.layadmin-carousel {
    height: 185px !important;
    background-color: #fff
}

.layadmin-carousel .layui-carousel-ind li {
    background-color: #e2e2e2
}

.layadmin-carousel .layui-carousel-ind li:hover {
    background-color: #c2c2c2
}

.layadmin-carousel .layui-carousel-ind li.layui-this {
    background-color: #999
}

.layadmin-carousel .layui-carousel,
.layadmin-carousel > [carousel-item] > * {
    background-color: #fff
}

.layadmin-carousel .layui-col-space10 {
    margin: 0
}

.layadmin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right
}

.layadmin-carousel .layui-carousel-ind ul {
    background: 0 0
}

.layui-fluid {
    padding: 15px;
}

.layadmin-shortcut li {
    text-align: center
}

.layadmin-shortcut li .layui-icon {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s
}

.layadmin-shortcut li .fa {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s
}