
<!DOCTYPE html>
<html>
<head>
    <title>ODSP</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
</head>

<body>
<table class="layui-table" id="ratio" lay-filter="ratio"></table>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/utils.js"></script>
<script>
    // layui建议所有代码都写在layui.use()里面，相当于jquery的$(function(){})
    layui.use(['table', 'layer', 'form', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        var action = "${action}"; //action + 1 是行数
        var state = "${state}"; //state + 1 是列数
        var isUpd = "${isUpd}"; //是否是更新数据表

        var reg = /^[+-]?\d*\.?\d{0,3}$/; //正则验证 字段只能为整数或保留3位小数

        $(function () {
            var originalHead = admin.getTempData('originalHead');
            var originalData = admin.getTempData('originalData');

            if(isUpd == "isup" && isNotEmpty(originalData) && isNotEmpty(originalHead)){ //如果是更新数据表

                var returnHead = JSON.parse(JSON.stringify(originalHead));
                table.head = returnHead;
                for (var i = 0; i <= state; i++) {
                    var items = originalHead[i];
                    if(items.field != 'income'){
                        items.edit = 'text';
                    }
                }

                //渲染表格数据
                table.render({
                    elem: '#ratio',
                    limit: 100,
                    height:'full-20',
                    cellMinWidth: 115,
                    cols: [originalHead],
                    data: originalData
                });
            }else if(isUpd == "noup" || isNotEmpty(originalData) || isNotEmpty(originalHead)){ //如果不是更新原有数据
                //先生成列数据,也就是表头
                var cols = new Array();
                var head = new Array();
                var income = {field:'income', title:'收益值'};
                cols.push(income);
                head.push(income);
                for (var i = 1; i <= state; i++) {
                    var col = {field:i+'_state', title:'自然状态'+i,edit:'text'};
                    var col2 =  {field:i+'_state', title:'自然状态'+i};
                    cols.push(col);
                    head.push(col2);
                }

                var returnHead = JSON.parse(JSON.stringify(head));
                table.head = returnHead;

                //再生成行数据,这里第一行是自然状态概率
                var rows = new Array();
                //第一个for 循环代表有多少行
                for (var i = 0; i <=action ; i++) {
                    var row = {};
                    if(i == 0){
                        row['income'] = '自然状态概率';
                    }else{
                        row['income'] = '行动方案'+i;
                        //第二个for 循环代表一行有多少条数据
                        for (var j = 1; j <=state ; j++) {
                            row[j+'_state'] = '';
                        }
                    }
                    rows.push(row);
                }

                //根据方案数和行动数初始化一个空表格
                table.render({
                    elem: '#ratio',
                    limit: 100,
                    height:'full-20',
                    cellMinWidth: 115,
                    cols: [cols],
                    data: rows
                });
            }

            //监听单元格编辑
            table.on('edit(ratio)',function (obj) {
                var value = obj.value; //得到修改后的值
                if(value.trim().length == 0){
                    layer.msg('字段不能为空');
                } else if(obj.data.income == '自然状态概率'){
                    if(!/^(0(\.\d{1,2})?|1(\.0{1,2})?)$/.test(value)){
                       layer.msg('自然状态概率在 0~1 之间，最多保留两位小数')
                    }
                } else{
                    if (!reg.test(value)){
                        layer.msg('字段只能为整数或保留3位小数');
                    }
                }
            })
        });

    });
</script>
</body>

</html>



