<!DOCTYPE html>
<!--suppress ALL -->
<html>

<head>
    <title>ODSP</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/site.css"/>
    <link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css"/>
    <style>
        .layui-input-block {
            margin-left: 150px;
            min-height: 36px;
        }

        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 120px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }
    </style>
</head>

<body class="page-aside-fixed">

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-col-space15">

        <div class="layui-col-md5 page-aside">
            <span id="fl-btn" class="fl-btn">
                <i id="fl-btn-icon" class="layui-icon layui-icon-right"></i>
            </span>
            <div id="fl-btn-l" class="layui-card scroll">
                <form class="layui-form" id="graphForm" lay-filter="graphForm">
                    <!--方法选择-->
                    <div class="layui-card-header newheader">方法选择</div>
                    <div class="layui-card-body">
                        <div class="layui-form-item" pane="">
                            <div class="layui-input-block">
                                <input type="checkbox" name="function" lay-filter="function" value="1" lay-skin="primary" title="CCR 模型" checked="">
                                <input type="checkbox" name="function" lay-filter="function" value="2" lay-skin="primary" title="BCC 模型"  checked="">
                            </div>
                            <div class="layui-input-block">
                                <input type="checkbox" name="function" lay-filter="function" value="3" lay-skin="primary" title="DRS 模型">
                                <input type="checkbox" name="function" lay-filter="function" value="4" lay-skin="primary" title="IRS 模型">
                            </div>
                            <div class="layui-input-block">
                                <input type="checkbox" name="function" lay-filter="function" value="5" lay-skin="primary" title="GRS 模型">
                                <input type="checkbox" name="function" lay-filter="function" value="6" lay-skin="primary" title="SBM 模型"  checked="">
                            </div>
                            <div class="layui-input-block">
                                <input type="checkbox" name="function" lay-filter="function" value="7" lay-skin="primary" title="NCN 模型">
                                <input type="checkbox" name="function" lay-filter="function" value="8" lay-skin="primary" title="NDSC 模型">
                            </div>
                        </div>
                    </div>
                    <!--参数设置-->
                    <div class="layui-card-header newheader">参数设置</div>

                    <div class="layui-card-body minPathParam">
                        <div class="layui-form-item">
                            <label class="layui-form-label">评价单元数</label>
                            <div class="layui-input-block">
                                <input type="text" id="dumNum" name="dumNum" value="4" isChange="false"
                                       placeholder="[1,+∞)" class="layui-input" lay-verify="required|dumNum">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">投入指标数</label>
                            <div class="layui-input-block">
                                <input type="text" id="inputNum" name="inputNum" value="3" isChange="false"
                                       placeholder="[1,+∞)" class="layui-input" lay-verify="required|inputNum">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">产出指标数</label>
                            <div class="layui-input-block">
                                <input type="text" id="outputNum" name="outputNum" value="2" isChange="false"
                                       placeholder="[1,+∞)" class="layui-input" lay-verify="required|outputNum">
                            </div>
                        </div>

                        <div class="layui-form-item dis-none" id="rtslDiv">
                            <label class="layui-form-label">RTS 下边界</label>
                            <div class="layui-input-block">
                                <input type="text" id="rtsLower" name="rtsLower" value="0.8" isChange="false"
                                       placeholder="[0,+∞)" class="layui-input" lay-verify="required|rtsLower">
                            </div>
                        </div>

                        <div class="layui-form-item dis-none" id="rtsuDiv">
                            <label class="layui-form-label">RTS 上边界</label>
                            <div class="layui-input-block">
                                <input type="text" id="rtsUpper" name="rtsUpper" value="1.2" isChange="false"
                                       placeholder="[0,+∞)" class="layui-input" lay-verify="required|rtsUpper">
                            </div>
                        </div>
                    </div>

                    <!--表格系数设置-->
                    <hr class="layui-bg-green">
                    <div class="layui-card">
                        <div class="layui-card-header">系数设置
                            <span id="btnUpd" style="float: right; cursor: pointer;">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>  编辑</i>
                            </span>
                        </div>
                        <div class="layui-card-body">
                            <table class="layui-hide" lay-size="sm" id="xishu"></table>
                        </div>
                    </div>

                    <!--参数说明-->
                    <div class="layui-card-header newheader">参数说明</div>
                    <div class="layui-card-body">
                        <ul class="layui-timeline">
                            <li class="timeline-item">
                                <div class="layui-text">
                                    <ul>
                                        <li>RTS 下边界：GRS 模型中规定的 RTS 的最小值</li>
                                        <li>RTS 上边界：GRS 模型中规定的 RTS 的最大值</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--底部悬浮操作按钮-->
                    <div style="height: 5rem;"></div>
                    <div class="fl-box">
                        <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-primary" id="calculate"
                                lay-filter="calculate" lay-submit>
                            <i class="fa fa-play-circle" aria-hidden="true"></i> 计算
                        </button>
                        <span class="verticalline"></span>
                        <button class="layui-btn layui-btn-lg  layui-btn-radius layui-btn-primary" id="download">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 下载
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <!--数据表格-->
        <div id="fl-btn-r" class="layui-col-md7 page-main">
            <!--原始数据表-->
            <div class="layui-card" id="originalTableDiv">
                <div class="layui-card-header">原始数据表
                    <span id="originalShow" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="originalFa"> 打开图表</i>
                    </span>
                </div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="originalTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="originalEcharts">
                    <div id="originalEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>


            <div class="layui-card" id="ccrTableDiv">
                <div class="layui-card-header">CCR 模型结果表
                    <span id="showCCR" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="ccrFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="ccrTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="ccrEcharts">
                    <div id="ccrEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card" id="bccTableDiv">
                <div class="layui-card-header">BCC 模型结果表
                    <span id="showBCC" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="bccFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="bccTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="bccEcharts">
                    <div id="bccEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card dis-none" id="drsTableDiv">
                <div class="layui-card-header">DRS 模型结果表
                    <span id="showDRS" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="drsFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="drsTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="drsEcharts">
                    <div id="drsEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card dis-none" id="irsTableDiv">
                <div class="layui-card-header">IRS 模型结果表
                    <span id="showIGS" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="irsFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="irsTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="irsEcharts">
                    <div id="irsEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card dis-none" id="grsTableDiv">
                <div class="layui-card-header">GRS 模型结果表
                    <span id="showGRS" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="grsFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="grsTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="grsEcharts">
                    <div id="grsEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card" id="sbmTableDiv">
                <div class="layui-card-header">SBM 模型结果表
                    <span id="showSBM" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="sbmFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="sbmTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="sbmEcharts">
                    <div id="sbmEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card dis-none" id="ncTableDiv">
                <div class="layui-card-header">NCN 模型结果表
                    <span id="showNC" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="ncFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="ncTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="ncEcharts">
                    <div id="ncEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>

            <div class="layui-card dis-none" id="ndTableDiv">
                <div class="layui-card-header">NDSC 模型结果表
                    <span id="showND" style="float: right; cursor: pointer;">
                        <i class="fa fa-bar-chart" aria-hidden="true" id="ndFa"> 打开图表</i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="ndTable"></table>
                </div>
                <div class="layui-card-body dis-none" id="ndEcharts">
                    <div id="ndEchartsDiv" class="layui-show echartsDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/libs/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/slimscroll/jquery.slimscroll.js"></script>

<script type="text/javascript" src="/assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts-gl.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echartsTheme.js"></script>

<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/utils.js"></script>
<script type="text/javascript" src="/assets/js/tool.js"></script>

<script>
    //layui建议所有代码都写在layui.use()里面，相当于jquery的$(function(){})
    var use = layui.use(['table', 'layer', 'form', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        var analysisData;
        var funs, dumNum, inputNum, outputNum, rtsLower, rtsUpper, isUpd;
        var Head, Data, resultHead, CCRData,BCCData,SBMData;

        //首先获取该页面的初始化数据
        $.ajaxSettings.async = false; //同步获取数据
        $.getJSON("/assets/js/analysis/deamodel.json", function (data) {
            analysisData = data;
            admin.putTempData('analysisData', data);

            funs = data.funs; //初始化选择的方法是 1,2,5
            dumNum = data.dumNum;
            inputNum = data.inputNum;
            outputNum = data.outputNum;
            rtsLower = data.rtsLower;
            rtsUpper = data.rtsUpper;
            isUpd = data.isUpd;

            Head = data.Head;
            Data = data.Data;

            resultHead = data.resultHead;
            CCRData = data.CCRData;
            BCCData = data.BCCData;
            SBMData = data.SBMData;

        });


        function renderTable(tableId, head, data) {
            table.render({
                elem: tableId,
                cellMinWidth: 115,
                cols: [head],
                data: data
            });
        }

        function renderTableN(tableId, head, data) {
            table.render({
                elem: tableId,
                cellMinWidth: 115,
                cols: head,
                data: data
            });
        }

        //监听chectbox复选框
        form.on('checkbox(function)', function(data){
            if(data.elem.checked && data.value == 5){
                $("#rtslDiv").removeClass("dis-none");
                $("#rtsuDiv").removeClass("dis-none");
            }else if(!data.elem.checked && data.value == 5){
                $("#rtslDiv").addClass("dis-none");
                $("#rtsuDiv").addClass("dis-none");
            }
        });


        // 编辑系数之前先校验数据
        function checkActAte(dumNum, inputNum,outputNum) {
            if(!/^[1-9]\d*$/.test(dumNum)){
                layer.msg('评价单元必须是大于 0 的整数!');
                return false;
            } else if (dumNum > 100) {
                layer.msg("最多添加 100 个评价单元!");
                return false;
            } else if(!/^[1-9]\d*$/.test(inputNum)){
                layer.msg('投入指标必须是大于 0 的整数!');
                return false;
            } else if (inputNum > 50) {
                layer.msg("最多添加 50 个投入指标!");
                return false;
            }else if(!/^[1-9]\d*$/.test(outputNum)){
                layer.msg('产出指标必须是大于 0 的整数!');
                return false;
            }  else if (outputNum > 50) {
                layer.msg("最多添加 50 个产出指标!");
                return false;
            }
            return true;
        }

        //实时监听 input 值变化
        $(function () {
            var dumNum = $("#dumNum").val();
            var inputNum = $("#inputNum").val();
            var outputNum = $("#outputNum").val();

            $("#dumNum").bind("input propertychange", function (event) {
                if (dumNum != $("#dumNum").val()) {
                    $("#dumNum").attr("isChange", "true");
                    isUpd = "noup"; //记录不是更新表格操作
                } else {
                    $("#dumNum").attr("isChange", "false");
                }
            });
            $("#inputNum").bind("input propertychange", function (event) {
                if (inputNum != $("#inputNum").val()) {
                    $("#inputNum").attr("isChange", "true");
                    isUpd = "noup"; //记录不是更新表格操作
                } else {
                    $("#inputNum").attr("isChange", "false");
                }
            });
            $("#outputNum").bind("input propertychange", function (event) {
                if (inputNum != $("#outputNum").val()) {
                    $("#outputNum").attr("isChange", "true");
                    isUpd = "noup"; //记录不是更新表格操作
                } else {
                    $("#outputNum").attr("isChange", "false");
                }
            });
        })


        // 添加编辑按钮点击事件
        $('#btnUpd').click(function () {
            var dum = $("#dumNum").val();
            var input = $("#inputNum").val();
            var output = $("#outputNum").val();

            //校验数据
            if (!checkActAte(dum, input, output)) {
                return;
            }

            layer.open({
                type: 2,
                title: '系数设置',
                maxmin: true,
                area: ['550px', '500px'],
                content: 'deaModel/editForm/' + dum + '/' + input + '/'  + output + '/'+ isUpd,
                btn: ['保存', '取消'],
                yes: function (index, layero) {
                    var ifTable = $("div.layui-layer-content > iframe")[0].contentWindow.layui.table;

                    //在提交数据之前先校验数据
                    var cache = ifTable.cache.ratio;
                    var isNull = false;
                    var isNoDouble = false; //整数或保留3位小数
                    var rag = /^[+-]?\d*\.?\d{0,3}$/; //整数或保留3位小数

                    // console.log(cache)

                    //for 循环进行校验
                    input = parseInt(input);
                    output = parseInt(output);
                    for (var i = 0; i < cache.length; i++) {
                        var item = cache[i];
                        //先校验非空
                        for (var j = 1; j <= input + output; j++) {
                            if(j <= input){
                                if (isEmpty(item["input_"+j])) {
                                    isNull = true;
                                    break;
                                } else if (!rag.test(item['input_'+j])) {
                                    isNoDouble = true;
                                    break;
                                }
                            }else{
                                if (isEmpty(item["output_"+(j-input)])) {
                                    isNull = true;
                                    break;
                                } else if (!rag.test(item['output_'+(j-input)])) {
                                    isNoDouble = true;
                                    break;
                                }
                            }
                        }
                    }

                    if (isNull) {
                        layer.msg('数据表中存在字段为空!');
                    } else if (isNoDouble) {
                        layer.msg('数据表的字段只能为整数或保留3位的小数!');
                    } else { //如果校验通过,提交数据到系数设置的表格中
                        layer.close(index); //如果设定了yes回调，需进行手工关闭

                        var xsData = JSON.parse(JSON.stringify(cache));//表格数据

                        Data = xsData;
                        if(isUpd == 'noup'){
                            Head = ifTable.head;
                        }

                        renderTableN('#xishu',Head,Data)

                        analysisData["Data"] = Data;
                        analysisData["Head"] = Head;

                        $("#dumNum").attr("isChange", "false");
                        $("#inputNum").attr("isChange", "false");
                        $("#outputNum").attr("isChange", "false");


                        isUpd = "isup";
                        //更新graphData数据
                        admin.putTempData('analysisData', analysisData);
                    }
                },
                btn2: function (index, layero) { //取消按钮
                    layer.close();
                }
            });
        })

        /**
         * 自定义表单验证规则
         */
        form.verify({
            dumNum: function (value, item) {
                if ($("#dumNum").attr("isChange") == "true") {
                    return '评价单元个数已改变，请重新设置系数!';
                }
                if(!/^[1-9]\d*$/.test(value)){
                    return '评价单元必须是大于 0 的整数!';
                } else if (value > 100) {
                    return '最多添加 100 个评价单元!';
                }
            },
            inputNum: function (value, item) {
                if ($("#inputNum").attr("isChange") == "true") {
                    return '投入指标个数已改变，请重新设置系数!';
                }
                if(!/^[1-9]\d*$/.test(value)){
                    return '投入指标必须是大于 0 的整数!';
                }  else if (value > 50) {
                    return '最多添加 50 个投入指标!';
                }
            },
            outputNum: function (value, item) {
                if ($("#outputNum").attr("isChange") == "true") {
                    return '产出指标个数已改变，请重新设置系数!';
                }
                if(!/^[1-9]\d*$/.test(value)){
                    return '产出指标必须是大于 0 的整数!';
                } else if (value > 50) {
                    return '最多添加 50 个产出指标!';
                }
            }
        })

        // 表单提交事件
        form.on('submit(calculate)', function (data) {
            layer.load(2);
            //将checkbox 封装成一个数组
            var functions = new Array();
            $("input[name='function']:checked").each(function () {
                functions.push($(this).val());
            })

            var dum = parseInt(data.field.dumNum);
            var input = parseInt(data.field.inputNum);
            var output = parseInt(data.field.outputNum);
            //初始化 dmuNames 数据
            var dmuNames = new Array();
            for (var i = 1; i <= dum; i++) {
                dmuNames.push("DMU "+i)
            }
            //初始化 variableNames 数组
            var variableNames = new Array();
            for (var i = 1; i <= input + output; i++) {
                if(i <= input){
                    variableNames.push("INPUT "+i);
                }else{
                    variableNames.push("OUTPUT "+(i-input));
                }
            }
            $.post('deaModel/calculate', {
                funArr: functions,
                dmuNamesArr:dmuNames,
                variableNamesArr:variableNames,
                dumNum: data.field.dumNum,
                inputNum: data.field.inputNum,
                outputNum: data.field.outputNum,
                rtsLower: data.field.rtsLower,
                rtsUpper: data.field.rtsUpper,
                ratioTableData: JSON.stringify(table.cache.xishu),
            }, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    top.layer.msg(data.msg, {icon: 1});
                    //数据返回成功,得到数据,渲染表格
                    renderTables(data);
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });


        function rendTool(data, tableId, tableDivId) {
            if(isNotEmpty(data)){
                $(tableDivId).removeClass('dis-none');
                table.render({
                    elem: tableId,
                    cellMinWidth: 110,
                    cols: [resultHead],
                    data: data,
                    limit: 100
                });
            }else {
                $(tableDivId).addClass('dis-none');
            }
        }

        /**
         * 根据不同的 key 渲染出不同的结果表
         * @param data
         */
        function renderTables(data) {

            //渲染原始数据表
            renderTableN('#originalTable', Head, Data);

            //根据结果渲染结果表
            rendTool(data["1"],'#ccrTable','#ccrTableDiv');
            rendTool(data["2"],'#bccTable','#bccTableDiv');
            rendTool(data["3"],'#drsTable','#drsTableDiv');
            rendTool(data["4"],'#grsTable','#grsTableDiv');
            rendTool(data["5"],'#irsTable','#irsTableDiv');
            rendTool(data["6"],'#sbmTable','#sbmTableDiv');
            rendTool(data["7"],'#ncTable', '#ncTableDiv');
            rendTool(data["8"],'#ndTable', '#ndTableDiv');
        }

        //----------------初始化操作----------------------
        renderTableN('#xishu', Head, Data)  //系数设置表
        renderTableN('#originalTable', Head, Data)  //原始数据表
        renderTable('#ccrTable', resultHead, CCRData)  //CCR结果表
        renderTable('#bccTable', resultHead, BCCData)  //BCC结果表
        renderTable('#sbmTable', resultHead, SBMData)  //SBM结果表

    });
</script>
</body>

</html>