<!DOCTYPE html>
<html>

<head>
    <title>ODSP</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/console.css">
    <link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1000661_fgnqsuaro8p.css"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card" style="overflow: hidden;">
                        <div class="layui-card-header">模型直达</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut" data-autoplay="true"
                                 data-anim="fade">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs2">
                                            <a lay-href="home/homepage1.html">
                                                <i class="layui-icon iconfont icon-ku"></i>
                                                <cite>悲观决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="home/homepage2.html">
                                                <i class="layui-icon iconfont icon-xiao2"></i>
                                                <cite>乐观决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="component/layer/list.html">
                                                <i class="layui-icon iconfont icon-jihui"></i>
                                                <cite>最小机会损失</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a layadmin-event="im">
                                                <i class="layui-icon iconfont icon-xianden"></i>
                                                <cite>等概率准则</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="component/progress/index.html">
                                                <i class="layui-icon iconfont icon-zhong"></i>
                                                <cite>折中主义准则</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="app/workorder/list.html">
                                                <i class="layui-icon iconfont icon-mv"></i>
                                                <cite>EMV决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="user/user/list.html">
                                                <i class="layui-icon iconfont icon-eol"></i>
                                                <cite>EOL决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/system/website.html">
                                                <i class="layui-icon iconfont icon-PI1"></i>
                                                <cite>EVPI决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-uv1"></i>
                                                <cite>EUV决策法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-xianxing"></i>
                                                <cite>线性规划</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-num"></i>
                                                <cite>整数规划</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-01"></i>
                                                <cite>0-1规划</cite>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-011"></i>
                                                <cite>0-1背包</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-many"></i>
                                                <cite>多重背包</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-ziyuan"></i>
                                                <cite>完全背包</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-fenpei"></i>
                                                <cite>资源分配</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-shengchan"></i>
                                                <cite>生产库存</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-shortline"></i>
                                                <cite>最短路径</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-scshu"></i>
                                                <cite>最小生成树</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-liuliang"></i>
                                                <cite>最大流</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-feiyong"></i>
                                                <cite>最小费用最大流</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-yunshu"></i>
                                                <cite>表上作业法</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-BBC"></i>
                                                <cite>BBC模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-cr"></i>
                                                <cite>CCR模型</cite>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-drsxitong"></i>
                                                <cite>DRS模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-IR"></i>
                                                <cite>IRS模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-GRS"></i>
                                                <cite>GRS模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-bm"></i>
                                                <cite>SBM模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-nc"></i>
                                                <cite>NCN模型</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a lay-href="set/user/info.html">
                                                <i class="layui-icon iconfont icon-sc"></i>
                                                <cite>NDSC模型</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">平台概览</div>
                        <div class="layui-card-body">
                            <div id="echartsDiv1" style="height: 400px; overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">

            <div class="layui-row layui-col-space15">
                <!--应用案例-->
                <div class="layui-col-md12">
                    <div class="layui-card" style="height: 248px; overflow: hidden;">
                        <div class="layui-card-header">应用案例</div>
                        <div class="layui-card-body ">
                            <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true"
                                 data-anim="fade"
                                 lay-filter="news">
                                <div carousel-item>
                                    <div>
                                        <fieldset class="layui-elem-field">
                                            <legend style="color: #009688">科技活动绩效评价</legend>
                                            <div class="layui-field-box">
                                                &nbsp; &nbsp;&nbsp;运用DEA模型来分析高技术产业投入产出的比率问题。
                                                通过多种模型结果的深入分析挖掘，决策者就能对投入冗余额产出不足额、达到DEA有效值等数据的分析，
                                                调整下阶段经济发展中的投入规模，使评价单元达到DEA有效。
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div>
                                        <fieldset class="layui-elem-field">
                                            <legend style="color: #009688">运输配送成本优化</legend>
                                            <div class="layui-field-box">
                                                &nbsp; &nbsp;&nbsp;通过结合实际企业在运输企业产品中成本优化遇到的问题，运用于运筹学中运输问题的表上作业法模型，
                                                构建企业将生产的产品从产地运往销地的最低运输成本解决方案，并结合地图可视化展示
                                                企业将产品由产地运往销地，以及运输的具体产品量。
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div>
                                        <fieldset class="layui-elem-field">
                                            <legend style="color: #009688">企业生产策略决策</legend>
                                            <div class="layui-field-box">
                                                &nbsp; &nbsp;&nbsp;企业在选择生产策略的过程中需要考虑市场状况，自身实际情况等因素；
                                                通过运用运筹学里的风险决策法和不确定型决策法包含的9大决策模型，计算出每个模型下的最优策略，
                                                然后分析得出在不同情况下的最佳策略，以及综合考虑下的最佳策略。
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--平台优势-->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">平台优势</div>
                        <div class="layui-card-body">
                            <div id="echartsDiv2" style="height: 400px; overflow: hidden;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts-gl.min.js"></script>

<script type="text/javascript" src="/assets/js/solution/decision.js"></script>
<script type="text/javascript" src="/assets/js/console.js"></script>

<script>
    // layui建议所有代码都写在layui.use()里面，相当于jquery的$(function(){})
    layui.use(["admin", "carousel"], function () {
        var e = layui.$,
            t = (layui.admin, layui.carousel),
            a = layui.element,
            i = layui.device();

        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;

        $(".layadmin-carousel").each(function () {
            var a = e(this);
            t.render({
                elem: this,
                width: "100%",
                arrow: "none",
                interval: a.data("interval"),
                autoplay: a.data("autoplay") === !0,
                trigger: i.ios || i.android ? "click" : "hover",
                anim: a.data("anim")
            })
        })

        var myCharts1 = echarts.init(document.getElementById('echartsDiv1'));
        myCharts1.setOption(option1);

        var myCharts2 = echarts.init(document.getElementById('echartsDiv2'));
        myCharts2.setOption(option3);


    });
</script>
</body>

</html>