<!DOCTYPE html>
<!--suppress ALL -->
<html>

<head>
    <title>ODSP</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/site.css"/>
    <link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/libs/dropify/css/dropify.css"/>
    <link rel="stylesheet" href="/assets/libs/loading/loading.css"/>
    <style>
        .layui-input-block {
            margin-left: 150px;
            min-height: 36px;
        }

        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 120px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }

        .layui-table-cell {
            height: 20px;
            line-height: 20px;
        }
    </style>
    <style>
        .layui-table[lay-skin=line] {
            border-width: 0 0 0 0 !important;
            width:100%;
        }
    </style>
</head>

<body class="page-aside-fixed">

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding-top: 40px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend class="" id="title1">数据采集</legend>
                <legend class="dis-none" id="title2">采集数据显示 / <span id="fileName"></span></legend>
            </fieldset>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card" id="dataAcqu">
                        <div class="layui-card-body">
                            <input name="file" id="file" type="file" class="dropify" data-height="300"
                                   data-allowed-file-extensions="xlsx xls cvs"/>
                        </div>

                        <div class="layui-card-body" align="center">
                            <button class="layui-btn layui-btn-lg  layui-btn-radius layui-btn-primary" id="upload">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> 点击上传
                            </button>
                            <span class="verticalline"></span>
                            <a class="layui-btn layui-btn-lg  layui-btn-radius layui-btn-primary"
                               id="download" href="download">
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 模板下载
                            </a>
                        </div>
                    </div>
                    <div class="layui-card dis-none" id="dataShow">
                        <div class="layui-card-body">
                            <table class="layui-table" id="oriDataTable" ></table>
                        </div>
                    </div>

                </div>
            </div>
            <!--可视化展示-->
            <div class="dis-none" id="echartShow">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>可视化展示</legend>
                </fieldset>
                <hr>
                <br>
                <div class="layui-field-box">
                    <div id="echartsDiv" class="layui-show echartsDiv" style="height: 500px;overflow: hidden;"></div>
                </div>
                <hr>
                <br>
                <div class="layui-card-body" align="center">
                    <button class="layui-btn layui-btn-lg layui-btn-radius" id="calculate" >
                        <i class="fa fa-play-circle" aria-hidden="true"></i> 点击计算
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/libs/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/assets/libs/dropify/js/dropify.js"></script>
<script type="text/javascript" src="/assets/libs/loading/loading.js"></script>

<script type="text/javascript" src="/assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts-gl.min.js"></script>

<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/utils.js"></script>
<script type="text/javascript" src="/assets/js/tool.js"></script>

<script>
    //layui建议所有代码都写在layui.use()里面，相当于jquery的$(function(){})
    var use = layui.use(['table', 'layer', 'form', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;


        var decResData,decOriData;

        //点击计算,将计算得到得值保存到浏览器session中
        $('#calculate').click(function () {
            admin.putTempData("decResData",decResData);
            parent.loadAnalysis('solution/decision/deAnalysis');

        });

        $('.dropify').dropify({
            messages: {
                'default': '单击或直接拖动需要上传的文件到此处',
                'replace': '将文件拖放到此处或单击此处替换',
                'remove': '移除',
                'error': '哎呀，出错了!'
            },
            error: {
                'fileExtension': '只允许上传以 ({{ value }} ) 结尾的文件.'
            },
        });

        // 点击上传事件
        $('#upload').click(function () {
            var formData = new FormData();
            if (isEmpty($("#file")[0].files[0])) {
                layer.msg("请选择要上传的文件");
                return;
            } else {
                formData.append("file", $("#file")[0].files[0]);
            }
            layer.load(2);
            $.ajax({
                type: "POST",           //因为是传输文件，所以必须是post
                url: 'upload',         //对应的后台处理类的地址
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        //数据返回成功,得到数据,渲染表格
                        top.layer.msg(data.msg, {icon: 1});
                        decResData = data.decResData;
                        renderTables(data.decOriData);
                    } else {
                        console.log(data.msg)
                        top.layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        });

        function renderTables(res) {
            //表头数据
            var thead = '<thead>' +
                            '<tr>';
            var head1 = res.head1;
            var head2 = res.head2;
            var head3 = res.head3;
            var head4 = res.head4;

            for (var i = 0; i < head1.length; i++) {
                thead += '<th  rowspan="'+head1[i].rowspan+'" colspan="'+head1[i].colspan+'"><div  align="center">'+head1[i].title+'</div></th>'
            }
            thead += '</tr><tr style="background-color: #FFFFFF">';

            for (var i = 0; i < head2.length; i++) {
                thead += '<th  rowspan="'+head2[i].rowspan+'" colspan="'+head2[i].colspan+'">'+head2[i].title+'</th>'
            }
            thead += '</tr>';

            for (var i = 0; i < head3.length; i++) {
                thead += '<th align="center"  rowspan="'+head3[i].rowspan+'" colspan="'+head3[i].colspan+'"><div align="center">'+head3[i].title+'</div></th>'
            }
            thead += '</tr><tr style="background-color: #FFFFFF">';

            for (var i = 0; i < head4.length; i++) {
                thead += '<th  rowspan="'+head4[i].rowspan+'" colspan="'+head4[i].colspan+'">'+head4[i].title+'</th>'
            }
            thead += '</tr>' +
                '</thead>' +
                '<tbody>';

            var tbody = '';
            var body = res.data;
            for (var i = 0; i < body.length; i++) {
                var data = body[i];
                tbody += '<tr>'

                var length = 0;
                for(var ever in data) {
                    length++;
                }
                for (var j = 0; j < length; j++) {
                    if(j == 0){
                        tbody += '<td>'+data['strategy']+'</td>';
                    }else {
                        tbody += '<td>'+data['saleNum'+j+'']+'</td>';
                    }

                }
                tbody += '</tr>'
            }
            tbody += '</tbody>';

            $("#oriDataTable").append(thead + tbody)

            $("#title1").addClass("dis-none");
            $("#title2").removeClass("dis-none");
            $("#fileName").html("("+res.fileName+")");

            $("#dataAcqu").addClass("dis-none");
            $("#dataShow").removeClass("dis-none");
            $("#echartShow").removeClass("dis-none");


            var legendData = res.legend;
            legendData.push("销售概率");
            var myChart = echarts.init(document.getElementById('echartsDiv'));
            var app = {};
            option = null;
            app.title = '采集数据展示';
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    data:legendData
                },
                xAxis: [
                    {
                        type: 'category',
                        data: res.xAxis,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '销售收益',
                        splitLine:{
                            show: false
                        },
                        axisLabel: {
                            formatter: '{value} 元'
                        }
                    },
                    {
                        type: 'value',
                        name: '销售概率',
                        splitLine:{
                            show: false
                        },
                        axisLabel: {
                            formatter: '{value} '
                        }
                    }
                ],
                series: res.series
            };

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }

    });
</script>
</body>

</html>