<!DOCTYPE html>
<html>
<head>
    <title>ODSP</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <style>
        .layui-table-cell {
            overflow: visible !important;
        }

        td .layui-form-select {
            margin-top: -10px;
            margin-left: -15px;
            margin-right: -15px;
        }
    </style>
</head>

<body>
<table class="layui-table" id="ratio" lay-filter="ratio"></table>
<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/utils.js"></script>

<script>
    // layui建议所有代码都写在layui.use()里面，相当于jquery的$(function(){})
    layui.use(['table', 'layer', 'form', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        var originNum = "${origin}"; //产地个数 A
        var salesNum = "${sales}"; //销地个数 B
        var isUpd = "${isUpd}"; //是否是更新数据表

        var Head, Data;

        var data = admin.getTempData('transportData');
        if (isNotEmpty(data)) {
            Head = data.Head;
            Data = data.Data;
        }
        //如果是更新数据表
        if (isUpd == "isup") {
            renderTable();
        }
        //如果是初始化一张空表
        else if (isUpd == "noup") {
            newTable();
        }

        table.render({
            id: 'ratio',
            elem: '#ratio',
            limit: 100,
            height: 'full-110',
            cellMinWidth: 110,
            cols: [Head],
            data: Data,
            //渲染完成后设置最后一行最后一列不可修改
            done: function (res, curr, count) {
                var dataTemp = table.cache[this.id]; //当前页面缓存数据
                var tableElem = this.elem.next(); //控件渲染出来的table
                layui.each(dataTemp, function (index,data) {
                    if(index == dataTemp.length - 1){
                        tableElem.find('tr[data-index="'+index+'"]').find('td[data-field="output"]').removeAttr('data-edit');
                    }
                })
            }
        });

        var rag2 = /^[+]?\d*\.?\d{0,3}$/;

        //监听单元格编辑
        table.on('edit(ratio)', function (obj) {
            var value = obj.value; //得到修改后的值
            if (value.trim().length == 0) {
                layer.msg('字段不能为空');
            } else if (!rag2.test(value)) {
                layer.msg('字段只能为非负整数或保留3位的非负小数');
            }
        });


        function renderTable() {
            for (var i = 1; i < Head.length; i++) {
                if (Head[i].field != 'sales') {
                    Head[i].edit = 'text';
                }
            }
        }

        //初始化新的空表格
        function newTable() {
            var data = [];
            //先生成Head
            var returnHead = [];
            var head = [];
            var sales = {field: 'sales', title: '场地/销地'};
            head.push(sales);
            returnHead.push(sales);
            for (var i = 1; i <= salesNum; i++) {
                var col = {field: 'B' + i, title: 'B' + i, edit: 'text'};
                var col2 = {field: 'B' + i, title: 'B' + i,};
                head.push(col);
                returnHead.push(col2);
            }
            var output = {field: 'output', title: '产量', edit: 'text'};
            var output2 = {field: 'output', title: '产量'};
            head.push(output);
            returnHead.push(output2);
            // var returnHead = JSON.parse(JSON.stringify(head));
            table.head = returnHead;
            //再初始化数据
            for (var i = 1; i <= parseInt(originNum) + 1; i++) {
                var row = {};
                if (i == parseInt(originNum) + 1) {
                    row['sales'] = '销量';
                } else {
                    row['sales'] = 'A' + i;
                }
                for (var j = 1; j <= salesNum; j++) {
                    row['B' + i] = '';
                }
                row['output'] = '';
                data.push(row);
            }

            Head = head;
            Data = data;
        }
    });
</script>
</body>

</html>



